/* Layout стили */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header  */
.header {
    background-color: var(--color-dark);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid var(--color-border-dark);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    min-height: 120px; /* Для ДВУХ строк */
    padding: 10px 0; /* Отступы внутри */
}

/* Footer */
.footer {
    background-color: var(--color-dark);
    border-top: 1px solid var(--color-border-dark);
    padding: 3rem 0;
}

.main-content {
    padding-top: 8rem;
}

/* Адаптивность */
@media (max-width: 768px) {
    .header {
        min-height: 100px;
    }
    .main-content {
        padding-top: 7rem;
    }
}

/* Ограничение размера картинки оборудования */
.equipment-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Для десктопа - не больше 300px в ширину */
@media (min-width: 769px) {
    .equipment-img {
        max-width: 300px;
        max-height: 400px;
    }
}

/* Для мобильных - не больше 2500px */
@media (max-width: 768px) {
    .equipment-img {
        max-width: 180px;
        max-height: 240px;
    }
}